.single-driver-screen {
    background-image: url("/src/assets/images/background/drivers/drivers-background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-driver-screen-container {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.single-driver-screen-title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 34px;
    margin: 10px 0;
    color: #f0f0f0;
    text-align: center;
}

.single-driver-screen-sub-title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
    color: #f0f0f0;
}

.single-driver-screen-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-column-gap: 10px;
}

.single-driver-screen-box-title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    color: #f0f0f0;
}

.single-driver-screen-box-desc {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    margin: 10px 0;
    color: #f0f0f0;
}

@media (max-width: 800px) {
    .single-driver-screen-container {
        width: 90%;
    }
}