.all-fuel-refills-screen {
    background-image: url("/src/assets/images/background/fuel/fuel-screen-background-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 20px;
    height: 100vh;
}

.all-fuel-refills-screen-title {
    font-family: 'Montserrat', serif;
    font-weight: bolder;
    font-size: 36px;
    margin: 20px 0;
    color: #f0f0f0;
}


.all-fuel-refills-screen-table-container {
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
}