.app-container {
    display: flex;
}

.main-content {
    margin-left: 100px; /* Width of the sidebar */
    padding: 20px;
    width: 100%;
}

@media (max-width: 1000px) {
    .main-content {
        margin-left: 100px; /* Adjust according to the sidebar width */
    }
}

@media (max-height: 700px) {
    .main-content {
        padding: 10px;
    }
}