.single-vehicle-info-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-column-gap: 10px;
}

.single-vehicle-info-box-title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    color: #f0f0f0;
}

.single-vehicle-info-box-desc {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    margin: 10px 0;
    color: #f0f0f0;
}

.single-vehicle-all-certifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.single-vehicle-screen-table {
    width: 100%;
    margin: 5px 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.single-vehicle-screen-table-header {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    text-align: left;
    color: #f0f0f0;
}

.single-vehicle-table-data {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    padding: 15px 0;
    color: #f0f0f0;
}