.nav-bar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-bar-slider {
    width: 100px !important;
    border-right: 2px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.selected-menu-item {
    background-color: transparent;
}

.menu-icon {
    width: 40px !important;
    height: 40px !important;
}

.menu-icon-select {
    width: 45px !important;
    height: 45px !important;
}

@media (max-width: 1000px) {
    .nav-bar{
        height: 100vh;
        background-color: #353935;
    }

    .menu-icon {
        width: 30px !important;
        height: 30px !important;
    }

    .menu-icon-select {
        width: 35px !important;
        height: 35px !important;
    }
}

@media (max-height: 700px) {
    .menu-item {
        margin: 20px 0;
    }
}