body{
    background-color: black;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-steps .ant-steps-item-title,
.custom-steps .ant-steps-item-title > .ant-steps-item-title-icon > .ant-steps-icon,
.custom-steps .ant-steps-item-description {
    color: white !important;
}

.custom-model .ant-modal-content {
    background-color: black;
    color: white;
    border: 1px solid #f0f0f0;
}

.custom-model .ant-modal-header {
    background-color: black;
    border-bottom: none;
}

.custom-model .ant-modal-title {
    color: white;
}

.custom-model .ant-modal-body {
    background-color: black;
}

.custom-model .ant-modal-footer {
    background-color: black;
    border-top: none;
}

.divider {
    height: 2px;
    background-color: #f0f0f0;
    width: 100%;
    margin: 0 0 20px;
}