body{
    background-color: black;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.custom-steps .ant-steps-item-title,
.custom-steps .ant-steps-item-title > .ant-steps-item-title-icon > .ant-steps-icon,
.custom-steps .ant-steps-item-description {
    color: white !important;
}

.divider {
    height: 2px;
    background-color: #f0f0f0;
    width: 100%;
    margin: 0 0 20px;
}